@mixin shadow-light {
  -webkit-box-shadow: 1px 2px 3px 2px rgba(206, 206, 206, 0.44);
  -moz-box-shadow: 1px 2px 3px 2px rgba(206, 206, 206, 0.44);
  box-shadow: 1px 2px 3px 2px rgba(206, 206, 206, 0.44);
}

body {
  margin-bottom: 50px;
}

.signin-link {
  margin: 50px auto;
  text-align: center;
}

.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  form {
    width: 300px;
    margin-top: 50px;
  }

  label,
  input,
  button {
    width: 100%;
  }
}

.admin-nav {
  color: #fff;
  background-color: #333;
  z-index: 2;

  .container a {
    color: #fff;
    padding: 10px 5px;
    margin: 0 10px;
    transition: 0.3s;
    &:hover {
      border-radius: 3px;
      background-color: #fff;
      color: #333;
    }
  }
}

.sidebar {
  @include shadow-light;
  background-color: rgb(32, 184, 98);
  color: #fff;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 150px;
  left: 10px;
  overflow: hidden;
  padding: 30px 10px;
  border-radius: 5px;

  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #e7e7e7;
    display: block;

    &.selected {
      background-color: rgb(31, 31, 31);
      color: #fff;
    }
  }
}

.admin-content {
  margin-top: 20px;
  margin-left: 200px;
}

.badge {
  margin: 0 5px;
}

.dash-orders,
.dash-products {
  min-height: 200px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #333;
  margin: 10px;
  border-radius: 5px;
}

.list-group-item button {
  margin: 5px;
}

.top-margin {
  margin-top: 15px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 15px;
    height: 15px;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.spinner-td {
  width: 100%;
  height: 100px;
  text-align: center;
  vertical-align: center;
}

.product-card {
  margin-bottom: 70px;

  .product-header {
    .col {
      padding: 20px;
    }
  }
}

.quill {
  margin: 5px;
  div[contenteditable="false"] {
    background-color: rgba(206, 206, 206, 0.54);
    cursor: not-allowed;
  }
}

.tab-pane {
  background-color: #fff;
  padding: 10px;
}

.single-order {
  ul {
    list-style: none;

    li {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px dotted rgba(206, 206, 206, 0.34);

      span:nth-child(2) {
        font-weight: bold;
      }
    }
  }

  .uploaded-files {
    ul {
      display: flex;

      li {
        border: 3px solid #fff;

        @include shadow-light;

        img {
          width: 300px;
        }
      }
    }
  }
}

.file-manager {
  background-color: #fff;
  border: 3px solid rgba(206, 206, 206, 0.14);

  .current-path {
    padding: 10px;
    margin: 5px;
    background-color: rgba(206, 206, 206, 0.14);
  }

  // .manager-view {
  // padding: 10px;
  // }

  .items-group {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;

    .empty-list {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      border: 1px solid rgba(206, 206, 206, 0.24);
      background-color: rgba(206, 206, 206, 0.14);
      margin: 5px;
      width: 240px;
      height: 120px;
    }
  }

  .file-item {
    border-radius: 5px;
    border: 1px solid rgba(206, 206, 206, 0.24);
    padding: 10px;
    margin: 5px;
    overflow: hidden;
    overflow-wrap: break-word;
    width: 120px;
    height: 120px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(206, 206, 206, 0.14);
    &.inactive {
      opacity: 0.7;
      cursor: not-allowed;
    }
    &.control {
      -webkit-box-shadow: inset 1px 2px 3px 2px rgba(206, 206, 206, 0.24);
      -moz-box-shadow: inset 1px 2px 3px 2px rgba(206, 206, 206, 0.24);
      box-shadow: inset 1px 2px 3px 2px rgba(206, 206, 206, 0.24);
      background-color: rgba(236, 235, 235, 0.14);
    }
    &:hover {
      border: 1px solid rgba(206, 206, 206, 0.84);
      background-color: rgba(206, 206, 206, 0.24);
    }
  }
}
