@mixin shadow-light($opacity) {
  -webkit-box-shadow: 0px 0px 2px 1px rgba(206, 206, 206, $opacity);
  -moz-box-shadow: 0px 0px 2px 1px rgba(206, 206, 206, $opacity);
  box-shadow: 0px 0px 2px 1px rgba(206, 206, 206, $opacity);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a,
a:hover,
a:active,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ul,
li {
  list-style: none;
}

body {
  margin: 0;
  background-color: rgb(245, 245, 245);
}

#app {
  margin-top: 70px;
}

button {
  margin: auto 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
}

section {
  padding: 10px;
}

mark {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0);
  font-size: 2rem;
  padding: 10px 20px 0 5px;
  margin: 5px;
}

mark.sea {
  color: rgba(11, 144, 170, 1);
}

mark.red {
  color: rgba(250, 67, 67, 1);
}

mark.blue {
  color: rgba(29, 72, 137, 1);
}

.spinner-container {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin-top: 100px;
}

.content-box {
  position: relative;
  border-radius: 3px;
  padding: 30px 20px 20px 20px;
  margin: 25px auto;
  background-color: #fff;
  border: 1px solid rgba(163, 163, 163, 0.14);
  @include shadow-light(0.24);

  h4 {
    position: absolute;
    top: -10px;
    color: #fff;
    background-color: #64586e;
    padding: 3px 20px 3px 20px;
    font-size: 1rem;
    border-radius: 3px;
  }
}

.spinner-fullscreen {
  width: 100vw;
  height: 80vh;
  @include flex-center-column;
}

.container > h3 {
  display: table;
  font-weight: bold;
  font-size: 2rem;
  border-bottom: 3px solid #8f7da0;
  margin: 15px auto;
}

// GOOGLE MAPS
.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
}

//Quill editor
.ql-editor {
  min-height: 300px;
}

// HR with text inside
.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 8px 0px;
}
.hr-sect:before,
.hr-sect:after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}

ul li {
  display: flex;
  justify-content: space-between;
}
